.blogg-input {
  background-image: url("./images/image/wineglas-start.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 200px;
  position: relative;
}

.form-group {
  .form-titel,
  .form-date,
  .form-who,
  .form-where,
  .form-decription {
    margin: 20px;
    color: $color-primary;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }

  .form-decription {
    height: 200px;
    width: 100%;
  }

  input {
    color: $color-primary;
    font-family: $body-text;
  }
}

.form-check {
  p {
    font-size: 12px;
  }
}
