$color-white: #ffffff;
$color-black: #000000;
$color-primary: #f2c1cc;
$color-secondary: #a1b1c8;
$background-color: #f9f9f9;

$gutter: 30px;
$gutter-1: 30px;
$gutter-2: 60px;
$gutter-3: 90px;
$gutter-4: 100px;

$regular: 400;
$bold: 700;

//h1, h2
$headline-font: "hansen-grotesque-bold", sans-serif;

// h3, h4
$headline-pre-font: "hansen-grotesque-medium", sans-serif;

//Body
$body-text: "hansen-grotesque-regular", sans-serif;

//btn font
$bold-font: "hansen-grotesque-bold", sans-serif;
